REACT_APP_SUPABASE_URL=https://yddraxevcdnlvmkzvedx.supabase.co
REACT_APP_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pGI937yD0cwdrSYFjguAZw_wgAb-YBj
REACT_APP_SUPABASE_STATUS_TABLE=PFNA_Whse_Health_Status
REACT_APP_SUPABASE_SITE_SERVERS_TABLE=PFNA_Whse_Site_Servers
